element.style {
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    text-align: center;
}
html {
    align-items: center;
    text-align: center;
}

